<% @posts.each do |post| %>
  <p><%=post.content%></p>
<% end %>


<% Post.all.each do |post| %>
  <p><%= post.user.fname + " " + post.user.lname %></p>
  <p><%= post.content %></p>
  <p><%= post.created_at.strftime('%m-%d-%Y %I:%M:%S %P') %></p>
<% end %>

<table border="1">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><a href="/posts/<%= post.id %>">Show</a></td>
        <td><%= link_to 'Edit', edit_post_path(post.id) %></td>
        <td><%= link_to("Delete", post_path(post.id), method: :delete, data: {confirm: "Are you sure you want to delete this post?"})%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if flash[:notice] %>
	<%= flash[:notice] %>
	<% end %>
	<%= link_to 'New Post', new_post_path %>